<%= form_with(model: provider, local: true) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
        <% provider.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :corporateName %>
    <%= form.text_field :corporateName %>
  </div>

  <div class="field">
    <%= form.label :fantasyName %>
    <%= form.text_field :fantasyName %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj %>
  </div>

  <div class="field">
    <%= form.label :stateRegistration %>
    <%= form.text_field :stateRegistration %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :codeProvider %>
    <%= form.text_field :codeProvider %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
