<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
       <%= render "partials/sidebar"%> 
       <%= render "partials/navbar"%> 
      <%= form_with(model: @provider, local: true) do |form| %>
        <% if @provider.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>
            <ul>
              <% provider.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Editar fornecedor</h4>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome da empresa</label>
                            <%= form.text_field :corporateName, class: "form-control" %>
                          </div>
                        </div
                        <div class="col-md-6">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <%= form.text_field :email, class:"form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome fantasia</label>
                            <%= form.text_field :fantasyName, class:"form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">CNPJ</label>
                            <%= form.text_field :cnpj, class:"form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Inscrição estadual</label>
                            <%= form.text_field :stateRegistration, class:"form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Tipo de empresa</label>
                            <%= form.text_field :business, class:"form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Telefone</label>
                            <%= form.text_field :phone, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Código fornecedor</label>
                            <%= form.text_field :codeProvider, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <%= form.fields_for :address do |f| %>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">CEP</label>
                            <%= f.text_field :zipcode, class:"form-control" %>
                              <%= f.text_field :zipcode, data: { autocomplete_zipcode_provider: :zipcode } %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Rua</label>
                            <%= f.text_field :street, class:"form-control" %>
                              <%= f.text_field :street, data: { autocomplete_zipcode_provider: :street }  %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Bairro</label>
                              <%= f.text_field :neighborhood, class:"form-control" %>
                                <%= f.text_field :neighborhood, data: { autocomplete_zipcode_provider: :neighborhood }  %>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Estado</label>
                            <%= f.text_field :state, class:"form-control" %>
                            <%= f.text_field :state, data: { autocomplete_zipcode_provider: :state }  %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Cidade</label>
                            <%= f.text_field :city, class:"form-control" %>
                            <%= f.text_field :city, data: { autocomplete_zipcode_provider: :city }  %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Numero</label>
                            <%= f.text_field :number, class:"form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Complemento</label>
                            <%= f.text_field :complement, class:"form-control" %>
                          </div>
                        </div>
                        <% end %> 
                      </div>
                       <div class="actions">
                        <%= link_to 'Voltar', clients_path,  class:"btn btn-primary pull-right" %>
                      </div>
                      <div class="actions">
                        <%= form.submit "Editar fornecedor", class:"btn btn-primary pull-right"%>
                      </div>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= render "partials/footer"%>
    </div>
  </div>