<p id="notice"><%= notice %></p>

<p>
  <strong>Corporatename:</strong>
  <%= @provider.corporateName %>
</p>

<p>
  <strong>Dono da lancha:</strong>
  <%= @provider.proprietaryName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @provider.phone %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @provider.cnpj %>
</p>

<p>
  <strong>Stateregistration:</strong>
  <%= @provider.stateRegistration %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>business:</strong>
  <%= @provider.business %>
</p>

<p>
  <strong>Codeprovider:</strong>
  <%= @provider.codeProvider %>
</p>

<p>
  <strong>City:</strong>
  <%= @provider.address.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @provider.address.street %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @provider.address.neighborhood %>
</p>

<p>
  <strong>Number:</strong>
  <%= @provider.address.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @provider.address.complement %>
</p>

<p>
  <strong>State:</strong>
  <%= @provider.address.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @provider.address.zipcode %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
