<H3>Data da emissao <%= Time.zone.now %></h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Corporatename:</strong>
  <%= @client.corporateName %>
</p>

<p>
  <strong>Fantasyname:</strong>
  <%= @client.clientName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @client.cnpj %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Codeclient:</strong>
  <%= @client.codeClient %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.address.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.address.street %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @client.address.neighborhood %>
</p>

<p>
  <strong>Number:</strong>
  <%= @client.address.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @client.address.complement %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.address.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.address.zipcode %>
</p>


