<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
       <%= render "partials/sidebar"%> 
       <%= render "partials/navbar"%> 
      <%= form_with(model: @client, local: true) do |form| %>
        <% if @client.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
            <ul>
              <% client.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

<div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Cadastrar um novo cliente</h4>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome</label>
                            <%= form.text_field :name, class:"form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome da empresa</label>
                            <%= form.text_field :corporateName, class: "form-control" %>
                          </div>
                        </div
                        <div class="col-md-6">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <%= form.text_field :email, class:"form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome do proprietário</label>
                            <%= form.text_field :clientName, class:"form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">CNPJ</label>
                            <%= form.text_field :cnpj, class:"form-control", id:"cnpj"%>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Telefone</label>
                            <%= form.text_field :phone, class: "form-control", id:"tel"%>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Código do cliente</label>
                            <%= form.text_field :codeClient, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <%= form.fields_for :address do |f| %>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">CEP</label>

                    <div class="input-group mb-3">
                    <%= f.text_field :zipcode, class:"form-control", id:"cep"%>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" id="buscar_cep">Buscar</button>
                    </div>
                  </div>
                          </div>
                        </div>


                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Rua</label>
                            <%= f.text_field :street, class:"form-control", id:"rua" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Bairro</label>
                              <%= f.text_field :neighborhood, class:"form-control", id:"bairro" %>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Estado</label>
                            <%= f.text_field :state, class:"form-control", id:"uf" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Cidade</label>
                            <%= f.text_field :city, class:"form-control", id:"cidade" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Numero</label>
                            <%= f.text_field :number, class:"form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Complemento</label>
                            <%= f.text_field :complement, class:"form-control" %>
                          </div>
                        </div>
                        <% end %> 
                      </div>
                       <div class="actions">
                        <%= link_to 'Voltar', clients_path,  class:"btn btn-primary pull-right" %>
                      </div>
                      <div class="actions">
                        <%= form.submit "Cadastrar cliente", class:"btn btn-primary pull-right"%>
                      </div>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= render "partials/footer"%>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
  <script>
     document.getElementById('cnpj').addEventListener('input', function (e) {
      var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})(\d{0,2})/);
      e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + '.' + x[3] + '/' + x[4] + (x[5] ? '-' + x[5] : '');
    });

     $(document).ready(function(){
        var SPMaskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
     spOptions = {
      onKeyPress: function(val, e, field, options) {
        field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
      };

      $('#tel').mask(SPMaskBehavior, spOptions);
    });
  </script>

   <script>
      $(function(){
      $("#buscar_cep").click(function(){
        //Nova variável "cep" somente com dígitos.
        var cep = $("#cep").val().replace(/\D/g, '');
        //Verifica se campo cep possui valor informado.
        if (cep != "") {
            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;
            //Valida o formato do CEP.
            if(validacep.test(cep)) {
            //Consulta o webservice viacep.com.br/
            $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                    if (!("erro" in dados)) {
                        //Atualiza os campos com os valores da consulta.
                        $("#rua").val(dados.logradouro);
                        $("#bairro").val(dados.bairro);
                        $("#cidade").val(dados.localidade);
                        $("#uf").val(dados.uf);
                    } //end if.
                    else {
                        //CEP pesquisado não foi encontrado.
                        console.log("CEP não encontrado.");
                    }
                });
            } //end if.
            else {
                console.log("Formato de CEP inválido.");
            }
        } //end if.
      });
    });
  </script>
