<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/images/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <title>
    Material Dashboard 2 by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="./assets/stylesheets/nucleo-icons.css" rel="stylesheet" />
  <link href="./assets/stylesheets/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="./assets/stylesheets/material-dashboard.css?v=3.0.0" rel="stylesheet" />
</head>

<!-- Sidebar Inicio -->
<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
         <%= image_tag("logo-ct.png",class:"navbar-brand-img h-100", alt:"main_logo" ) %>
        <span class="ms-1 font-weight-bold text-white">Material Dashboard 2</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">

        <li class="nav-item">
          <%=link_to  root_path, class:"nav-link text-white active bg-gradient-primary" do%>
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          <%end%>     
        </li>
        <!-- Inicio Menu -->
         <%= content_tag :li ,class: "nav-item text-white" do%>
              <%=link_to  clients_path, class:"nav-link text-white" do%>
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">person</i>
                <span class="nav-link-text ms-1">Clientes</span>
              </div>  
              <%end%>
          <%end%>

          <%= content_tag :li ,class: "nav-item text-white" do%>
            <%=link_to  providers_path, class:"nav-link text-white" do%>
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">local_shipping</i>
                  <span class="nav-link-text ms-1">Fornecedores</span>
                </div>  
            <%end%>
          <%end%>

          <%= content_tag :li ,class: "nav-item text-white" do%>
            <%=link_to  categories_path, class:"nav-link text-white" do%>
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">create_new_folder</i>
                  <span class="nav-link-text ms-1">Categorias</span>
              </div>  
            <%end%>
          <%end%>

          <%= content_tag :li ,class: "nav-item text-white" do%>
            <%=link_to  products_path, class:"nav-link text-white" do%>
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10"><i class="fas fa-boxes"></i></i>
                  <span class="nav-link-text ms-1">Produtos</span>
                </div>  
            <%end%>
          <%end%>

          <%= content_tag :li ,class: "nav-item text-white" do%>
            <%=link_to  buys_path, class:"nav-link text-white" do%>
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">local_mall</i>
                  <span class="nav-link-text ms-1">Compras</span>
                </div>  
            <%end%>
          <%end%>

          <%= content_tag :li ,class: "nav-item text-white" do%>
            <%=link_to  sells_path, class:"nav-link text-white" do%>
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">attach_money</i>
                  <span class="nav-link-text ms-1">Venda</span>
                </div>  
            <%end%>
          <%end%>

          <%= content_tag :li ,class: "nav-item text-white" do%>
            <%=link_to  busca_index_path	, class:"nav-link text-white" do%>
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">radar</i>
                  <span class="nav-link-text ms-1">Busca RFID</span>
                </div>  
            <%end%>
          <%end%>

          <%= content_tag :li ,class: "nav-item text-white" do%>
            <%=link_to  taxes_path, class:"nav-link ntext-white" do%>
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">add_business</i>
                  <span class="nav-link-text ms-1">Taxas</span>
                </div>  
            <%end%>
          <%end%>  
        <!-- Final Menu -->         
      </ul>
    </div>
  </aside>
  <!-- Sidebar Final -->
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar Inicio -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Dashboard</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <%if user_signed_in?%>
              <a class="nav-link text-body font-weight-bold px-0">
                <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="d-sm-inline d-none">Sair</span>
                  </a>
                <%end%>
              <%else%>
              <a class="nav-link text-body font-weight-bold px-0">
                <%= link_to new_user_session_path do %>
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Entrar</span>
                  </a>
                <%end%>
              <%end%>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a  class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a class="nav-link text-body p-0">
              <%if user_signed_in?%>
              <a class="nav-link text-body font-weight-bold px-0">
                <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                  </a>
                <%end%>
              <%else%>
              <a class="nav-link text-body font-weight-bold px-0">
              <%end%>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <%if user_signed_in?%>
                  <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <%else%>
               <a class="nav-link text-body font-weight-bold px-0">  
              <%end%>
              </a>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar Final -->
    <%if user_signed_in?%>
      <h4 class="font-weight-bolder mb-0">Olá, <%=current_user.name%> <%=current_user.lastname%></h4>
    <%else%>           
      
    <%end%>
    <br>
    <div class="container-fluid py-4">
      <div class="row">
        <!-- Inicio DashBoard Vendas-->
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="card-icon  icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">shopping_bag</i>
              </div>
              <div class="text-end pt-1">
                <b><h2><p class="text-sm mb-0 text-capitalize">Vendas</p></h2></b>
                <% if ( @totalsell ) <= 0 %>
                    <b>
                      <h4><b style="color:red">R$ <%=(@totalsell)%></b></h4>
                    </b>
                  <% else %>
                    <b>
                      <h4><b style="color:green">R$ <%=(@totalsell)%></b></h4>
                    </b>
                  <%end%>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week</p>
            </div>
          </div>
        </div>
        <!-- Final DashBoard Vendas-->
        
        <!-- Inicio DashBoard Compras-->
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="card-icon icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">add_shopping_cart</i>
              </div>
              <div class="text-end pt-1">
                <b><h2><p class="text-sm mb-0 text-capitalize">Compras</p></h2></b>
                <% if (@totalbuy) <= 0 %>
                      <h4><b style="color:red">R$ <%=(@totalbuy)%></b></h4>
                  <% else %>
                      <h4><b style="color:green">R$ <%=(@totalbuy)%></b></h4>
                  <%end%>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than lask month</p>
            </div>
          </div>
        </div>
        <!-- Final Grafico Compras-->

        <!-- Inicio DashBoard Carteira-->
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="card-icon icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">account_balance_wallet</i>
              </div>
              <div class="text-end pt-1">
                <b><h2><p class="text-sm mb-0 text-capitalize">Carteira</p></h2></b>
                  <% if (@totalbuy - @totalsell ) <= 0 %>
                    <b>
                      <h4 class="mb-0" style="color:red">R$ <%=(@totalbuy - @totalsell)%></h4>
                    </b>
                  <% else %>
                    <b>
                      <h4 class="mb-0" style="color:green">R$ <%=(@totalbuy - @totalsell)%></h4>
                    </b>
                  <%end%>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday</p>
            </div>
          </div>
        </div>
        <!-- Final DashBoard Carteira-->

        <!-- Inicio  DashBoard Produtos-->
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="card-icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10"><i class="fas fa-boxes fa-2x"></i></i>
              </div>
              <div class="text-end pt-1">
                <b><h2><p class="text-sm mb-0 text-capitalize">Produtos</p></h2></b>
                <% if (@products.size) <= 0 %>
                    <b>
                      <h4><b style="color:red"><%=(@products.size )%></b></h4>
                    </b>
                  <% else %>
                    <b>
                      <h4><b style="color:green"><%=(@products.size )%></b></h4>
                    </b>
                  <%end%>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>
            </div>
          </div>
        </div>
        <!-- Final DashBoard Produtos-->
      </div>

    <!-- Inicio Grafico Compras -->
      <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-info shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <%= line_chart Buy.group_by_month(:created_at, format: "%b %y", range: 1.year.ago..Date.current).count,colors: ["#fff", "#fff"], height: '170px'%> 
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Compras</h6>
              <p class="text-sm ">Last Campaign Performance</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> campaign sent 2 days ago </p>
              </div>
            </div>
          </div>
        </div>
    <!-- Final Grafico Compras -->
    
    <!-- Inicio Grafico Vendas-->
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <%= line_chart Sell.group_by_month(:created_at, format: "%b %y", range: 1.year.ago..Date.current).count, colors: ["#fff", "#fff"], height: '170px'%> 
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Vendas</h6>
              <p class="text-sm "> (<span class="font-weight-bolder">+15%</span>) increase in today sales. </p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>
    <!-- Final Grafico Vendas-->
    <!-- Inicio Grafico Clientes-->
        <div class="col-lg-4 mt-4 mb-3">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-warning shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <%= line_chart Client.group_by_month(:created_at, format: "%b %y", range: 1.year.ago..Date.current).count, colors: ["#fff", "#fff"], height: '170px'%> 
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Clientes</h6>
              <p class="text-sm ">Last Campaign Performance</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm">just updated</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Final Grafico Cliente -->
      <div class="row mb-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Fornecedores</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1"><%=(@providers.size )%></span> este mês
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Empresas</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Proprietário</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="./assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Material XD Version</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="avatar-group mt-2">
                          <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson">
                            <img src="./assets/img/team-1.jpg" alt="team1">
                          </a>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold"> $14,000 </span>
                      </td>
                      <td class="align-middle">
                        <div class="progress-wrapper w-75 mx-auto">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6>Histórico de movimentação</h6>
              <p class="text-sm">
                <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                <span class="font-weight-bold">24%</span> this month
              </p>
            </div>
            <div class="card-body p-3">
              <div class="timeline timeline-one-side">
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-success text-gradient">person</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0"><%= (@clients.last.clientName) %> <%= (@clients.last.name) %> </h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"><%= (@clients.last.created_at) %></p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-danger text-gradient">local_shipping</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0"><%= (@providers.last.corporateName) %></h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"><%= (@providers.last.created_at) %></p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-info text-gradient">create_new_folder</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0"><%=@categories.last.nameCat%></h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"><%=@categories.last.created_at%></p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-warning text-gradient"><i class="fas fa-box-open"></i></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0"><%=@products.last.name%></h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"><%=@products.last.created_at%></p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-primary text-gradient">local_mall</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0"><%=@buys.last.nameProduct%></h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"><%=@buys.last.created_at%></p>
                  </div>
                </div>
                <div class="timeline-block">
                  <span class="timeline-step">
                    <i class="material-icons text-dark text-gradient">attach_money</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0"><%=@sells.last.product.name%></h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"><%=@sells.last.created_at%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer py-4  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>
  <!--   Core JS Files   -->
  <script src="assets/javascript/core/popper.min.js"></script>
  <script src="assets/javascript/core/bootstrap.min.js"></script>
  <script src="assets/javascript/plugins/perfect-scrollbar.min.js"></script>
  <script src="assets/javascript/plugins/smooth-scrollbar.min.js"></script>
  <script src="assets/javascript/plugins/chartjs.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="assets/javascript/material-dashboard.min.js?v=3.0.0"></script>