<%= form_with(model: buy, local: true) do |form| %>
  <% if buy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buy.errors.count, "error") %> prohibited this buy from being saved:</h2>

      <ul>
        <% buy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :nameProduct %>
    <%= form.text_field :nameProduct %>
  </div>

  <div class="field">
    <%= form.label :dateBuy %>
    <%= form.date_select :dateBuy %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount %>
  </div>

  <div class="field">
    <%= form.label :measurement %>
    <%= form.text_field :measurement %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :ipi %>
    <%= form.text_field :ipi %>
  </div>

  <div class="field">
    <%= form.label :icms %>
    <%= form.text_field :icms %>
  </div>

  <div class="field">
    <%= form.label :shipping %>
    <%= form.text_field :shipping %>
  </div>

  <div class="field">
    <%= form.label :costAdd %>
    <%= form.text_field :costAdd %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
