<p id="notice"><%= notice %></p>

<h1>Buys</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Quantity</th>
      <th>Nameproduct</th>
      <th>Datebuy</th>
      <th>Discount</th>
      <th>Measurement</th>
      <th>Description</th>
      <th>Ipi</th>
      <th>Icms</th>
      <th>Shipping</th>
      <th>Costadd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buys.each do |buy| %>
      <tr>
        <td><%= buy.price %></td>
        <td><%= buy.quantity %></td>
        <td><%= buy.nameProduct %></td>
        <td><%= buy.dateBuy %></td>
        <td><%= buy.discount %></td>
        <td><%= buy.measurement %></td>
        <td><%= buy.description %></td>
        <td><%= buy.ipi %></td>
        <td><%= buy.icms %></td>
        <td><%= buy.shipping %></td>
        <td><%= buy.costAdd %></td>
        <td><%= link_to 'Show', buy %></td>
        <td><%= link_to 'Edit', edit_buy_path(buy) %></td>
        <td><%= link_to 'Destroy', buy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buy', new_buy_path %>
