  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
       <%= render "partials/sidebar"%> 
       <%= render "partials/navbar"%> 
      <%= form_with(model: @buy, local: true) do |form| %>
        <% if @buy.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@buy.errors.count, "error") %> prohibited this buy from being saved:</h2>

            <ul>
                <% @buy.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Realizar uma compra</h4>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome do produto</label>
                            <%= form.text_field :nameProduct, class: "form-control" %>
                          </div>
                        </div>
                         <div class="col-md-4">
                          <div class="form-group"> 
                            <label class="bmd-label-floating" for="exampleFormControlSelect1">Unidade de medida</label>
                            <%= form.select :measurement, ['unidade (un)',
                                              'metro (m)',
                                              'quilômetro (km)', 
                                              'hectômetro (hm)', 
                                              'decâmetro (dam)', 
                                              'decímetro (dm)', 
                                              'centímetro (cm)', 
                                              'milímetro (mm)',
                                              'litro (l)',
                                              'quilolitro (kl)', 
                                              'hectolitro (hl)', 
                                              'decalitro (dal)', 
                                              'decilitro (dl)', 
                                              'centilitro (cl)', 
                                              'mililitro (ml)',
                                              'tonelada (t)',
                                              'quilograma (kg)', 
                                              'hectograma (hg)', 
                                              'decagrama (dag)', 
                                              'grama (g)', 
                                              'decigrama (dg)', 
                                              'centigrama (cg)', 
                                              'miligrama (mg)',
                                              'metro cúbico (m3)',
                                              'quilômetro cúbico (km3)', 
                                              'hectômetro cúbico (hm3)', 
                                              'decâmetro cúbico (dam3)', 
                                              'decímetro cúbico (dm3)', 
                                              'centímetro cúbico (cm3)',  
                                              'milímetro cúbico (mm3)'], class:"form-control", id:"exampleFormControlSelect1" %>
                          </div>
                      </div>

                        
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome do fornecedor</label>
                                <%= form.select("provider_id", @provider_options, { include_blank: 'Selecione...' }, class:"form-control") %>
                          </div>
                        </div>

                        <%
=begin%>
 <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome do produto</label>
                                <%= form.select("product_id", @product_options, { include_blank: 'Selecione...' }, class:"form-control") %>
                          </div>
                        </div> 
<%
=end%>
                      

                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Quantidade</label>
                            <%= form.text_field :quantity, class:"form-control" %>
                          </div>
                        </div>

                        
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Preço</label>
                            <%= form.text_field :price, class:"form-control", id:"money"%>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Descrição do produto</label>
                            <%= form.text_field :description, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <%= form.fields_for :tax do |f| %>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Frete</label>
                            <%= f.text_field :shipping, class:"form-control", id:"shipping" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Taxa de IPI</label>
                            <%= f.text_field :ipi, class:"form-control", id:"ipi" %>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Taxa de ICMS</label>
                            <%= f.text_field :icms, class:"form-control", id:"icms" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Custo adicional</label>
                            <%= f.text_field :costAdd, class:"form-control", id:"coastadd" %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Descrição do custo adicional</label>
                            <%= f.text_field :description, class: "form-control" %>
                          </div>
                        </div>
                            
                        <% end %> 
                       <div class="actions">
                        <%= link_to 'Voltar', buys_path,  class:"btn btn-primary pull-right" %>
                      </div>
                      <div class="actions">
                        <%= form.submit "Cadastrar compra", class:"btn btn-primary pull-right"%>
                      </div>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= render "partials/footer"%>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script> 
  <script>
    $(document).ready(function(){
      $('#money').mask('000.000.000.000.000,00', {reverse: true});
    });

    $(document).ready(function(){
      $('#icms').mask('000.000.000.000.000,00', {reverse: true});
    });

    $(document).ready(function(){
      $('#coastadd').mask('000.000.000.000.000,00', {reverse: true});
    });

    $(document).ready(function(){
      $('#ipi').mask('000.000.000.000.000,00', {reverse: true});
    });

    $(document).ready(function(){
      $('#shipping').mask('000.000.000.000.000,00', {reverse: true});
    });
  </script>