<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @buy.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @buy.quantity %>
</p>

<p>
  <strong>Nameproduct:</strong>
  <%= @buy.nameProduct %>
</p>

<p>
  <strong>Datebuy:</strong>
  <%= @buy.created_at.to_date.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @buy.discount %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @buy.measurement %>
</p>

<p>
  <strong>Description:</strong>
  <%= @buy.description %>
</p>

<p>
  <strong>Nome do fornecedor:</strong>
  <%= @buy.provider.corporateName %>
</p>

<p>
  <strong>Frete:</strong>
  <%= @buy.tax.shipping %>
</p>

<p>
  <strong>Taxa de IPI:</strong>
  <%= @buy.tax.ipi %>
</p>

<p>
  <strong>Taxa de ICMS:</strong>
  <%= @buy.tax.icms %>
</p>

<p>
  <strong>Custo adicional:</strong>
  <%= @buy.tax.costAdd %>
</p>

<p>
  <strong>Descrição do custo adicional:</strong>
  <%= @buy.tax.description %>
</p>

<%= link_to 'Edit', edit_buy_path(@buy) %> |
<%= link_to 'Back', buys_path %>