
<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>

<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
       <%= render "partials/sidebar"%> 
       <%= render "partials/navbar"%> 
      <%= form_with(model: @category, local: true) do |form| %>
        <% if @category.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
            <ul>
              <% category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Editar uma nova categoria</h4>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome da categoria</label>
                            <%= form.text_field :nameCat, class:"form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Codigo da categoria</label>
                            <%= form.text_field :codCategorie, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                        <div class="actions">
                          <%= link_to 'Voltar', categories_path,  class:"btn btn-primary pull-right" %>
                        </div>
                        <div class="actions">
                          <%= form.submit "Editar categoria", class:"btn btn-primary pull-right"%>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <% end %>
      <%= render "partials/footer"%>
    </div>
  </div>