<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
       <%= render "partials/sidebar"%> 
       <%= render "partials/navbar"%> 
      <%= form_with(model: @product, local: true) do |form| %>
        <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this client from being saved:</h2>

            <ul>
              <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Cadastrar um novo produto</h4>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nome do produto</label>
                            <%= form.text_field :name, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="form-group">
                            <label class="bmd-label-floating">Quantidade</label>
                            <%= form.text_field :quantity, class:"form-control" %>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Unidade de medida</label>
                            <%= form.select :unity, ['unidade (un)',
                                              'metro (m)',
                                              'quilômetro (km)', 
                                              'hectômetro (hm)', 
                                              'decâmetro (dam)', 
                                              'decímetro (dm)', 
                                              'centímetro (cm)', 
                                              'milímetro (mm)',
                                              'litro (l)',
                                              'quilolitro (kl)', 
                                              'hectolitro (hl)', 
                                              'decalitro (dal)', 
                                              'decilitro (dl)', 
                                              'centilitro (cl)', 
                                              'mililitro (ml)',
                                              'tonelada (t)',
                                              'quilograma (kg)', 
                                              'hectograma (hg)', 
                                              'decagrama (dag)', 
                                              'grama (g)', 
                                              'decigrama (dg)', 
                                              'centigrama (cg)', 
                                              'miligrama (mg)',
                                              'metro cúbico (m3)',
                                              'quilômetro cúbico (km3)', 
                                              'hectômetro cúbico (hm3)', 
                                              'decâmetro cúbico (dam3)', 
                                              'decímetro cúbico (dm3)', 
                                              'centímetro cúbico (cm3)',  
                                              'milímetro cúbico (mm3)'],class:"form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Preço de venda</label>
                            <%= form.text_field :salePrice, class:"form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Preço de custo</label>
                            <%= form.text_field :saleCost, class:"form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Codigo do produto</label>
                            <%= form.text_field :productCode, class: "form-control" %>
                          </div>
                        </div><div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Código de barra(GTIN)</label>
                            <%= form.text_field :gtin, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Codigo do fornecedor</label>
                            <%= form.text_field :codeProvider, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Codigo EPC - RFID</label>
                            <%= form.text_field :rfid, class: "form-control" %>
                          </div>
                        </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Descrição do produto</label>
                              <%= form.text_field :description, class:"form-control" %>
                            </div>
                          </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Quantidade minima</label>
                            <%= form.text_field :productMax, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Quantidade minima</label>
                            <%= form.text_field :productMin, class: "form-control" %>
                          </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Nome da categoria</label>
                              <%= form.select("categorie_id", @categorie_options, { include_blank: 'Selecione...' }, class:"form-control") %>
                            </div>
                        </div>  

                        <div class="field">
                            <%= form.label :image %>
                            <%= form.file_field :image, multiple: false %>
                        </div>

                       <div class="actions">
                        <%= form.submit "Cadastrar produto", class:"btn btn-primary pull-right"%>
                      </div>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>