<%= form_with(model: sell, local: true) do |form| %>
  <% if sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sell.errors.count, "error") %> prohibited this sell from being saved:</h2>

      <ul>
        <% sell.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :nameProduct %>
    <%= form.text_field :nameProduct %>
  </div>

  <div class="field">
    <%= form.label :dataSell %>
    <%= form.date_select :dataSell %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount %>
  </div>

  <div class="field">
    <%= form.label :measurement %>
    <%= form.text_field :measurement %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
