<%= form_with(model: sell, local: true) do |form| %>
  <% if sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sell.errors.count, "error") %> prohibited this sell from being saved:</h2>

      <ul>
        <% sell.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :nameProduct %>
    <%= form.text_field :nameProduct %>
  </div>

  <div class="field">
    <%= form.label :dataSell %>
    <%= form.date_select :dataSell %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount %>
  </div>

  <div class="field">
    <%= form.label :measurement %>
    <%= form.text_field :measurement %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label class="bmd-label-floating">Nome do fornecedor</label>
      <%= form.select("client_id", @client_options, { include_blank: 'Selecione...' }, class:"form-control") %>
    </div>
  </div>  

  <div class="col-md-6">
      <div class="form-group">
        <label class="bmd-label-floating">Nome do produto</label>
        <%= form.select("product_id", @product_options, { include_blank: 'Selecione...' }, class:"form-control") %>
      </div>
  </div>  

  <%= form.fields_for :tax do |f| %>
        <div class="form-group">
          <label class="bmd-label-floating">Frete</label>
          <%= f.text_field :shipping, class:"form-control" %>
        </div>

        <div class="form-group">
          <label class="bmd-label-floating">Taxa de IPI</label>
          <%= f.text_field :ipi, class:"form-control" %>
        </div>

        <div class="form-group">
          <label class="bmd-label-floating">Taxa de ICMS</label>
          <%= f.text_field :icms, class:"form-control" %>
        </div>

        <div class="form-group">
          <label class="bmd-label-floating">Custo adicional</label>
          <%= f.text_field :costAdd, class:"form-control" %>
        </div>

        <div class="form-group">
          <label class="bmd-label-floating">Descrição do custo adicional</label>
          <%= f.text_field :description, class: "form-control" %>
        </div>
  <% end %> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
