<!DOCTYPE html>
<html lang="pt-br">
<head>
	<link rel="stylesheet" href="desafio.css">
	<title>Nota de venda</title>
	<meta charset="utf-8">
  <style>
      .h1 {
      color: #ffffff;
      background-color: #9c27b0;
      box-sizing: border-box;
      margin: 0;
      padding: 40px;
    }
      
    .h2{
      color: #000000;
      box-sizing: border-box;
      margin: 0;
      padding: 30px;
    }

    .rodape-pagina {
      background-color: #9c27b0;
      color: #F2FFFC;
      clear: both;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    body {
      text-align: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
        background-color: #9c27b0;
        color: white;
    }
  </style>
</head>
<body>
	<h1 class="h1" align="center"></h1>
	<h2  class= "h2" align="center">Notas de venda</h2>
	<H3>Data da emissão <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h3>

	</br>

	<h3>Valor da venda</h3>
	<div>
			<table>
                <thead>
                    <tr>
                        <th>Nome do produto</th>
                        <th>Nome do fornecedor</th>
                        <th>Data da venda</th>
                        <th>Preço unitário</th>
                        <th>Quantidade</th>
                        <th>Unidade de medida</th>
                        <th>Valor da venda</th>
                    </tr>
                    <tr>   
                    	<td><%= @sell.product.name %></td>
                    	<td><%= @sell.client.corporateName %></td>
                      <td><%= @sell.created_at.to_date.strftime("%d-%m-%Y") %></td>
                      <td><%= @sell.price %></td>
                      <td><%= @sell.quantity %></td>
                      <td><%= @sell.measurement %></td>
                      <td><strong><%= (@sell.quantity)*(@sell.price) %></strong></td>
                    </tr>
                </thead>
                <tbody id="renda_tabela">

               </tbody>
    		</table>
	</div> 

	<h3>Custo adicional</h3>
	<div>
		<table>
			  <thead>
                    <tr>
                        <th>Frete</th>
                        <th>Taxa de IPI</th>
                        <th>Taxa de ICMS</th>
                        <th>Custo adicional</th>
                        <th>Descrição do custo adicional</th>
                        <th>Valor total do custo adicional</th>
                    </tr>
                    <tr>
                    	<td><%= @sell.tax.shipping %></td>
                      <td><%= @sell.tax.ipi %></td>
                      <td><%= @sell.tax.icms %></td>
                      <td><%= @sell.tax.costAdd %></td>
                      <td><%= @sell.tax.description %></td>
                      <td><strong><%=(@sell.tax.shipping) + (@sell.tax.ipi) + ( @sell.tax.icms) + (@sell.tax.costAdd )%></strong></td>
                    </tr>
                </thead>
                <tbody>

                </tbody>	
		</table>
	</div>

  <h3>Valor total de venda</h3>
	<div>
		<table>
			  <thead>
                    <tr>
                        <th>Valor total do produto</th>
                        <th>Valor total do custo adicional</th>
                        <th>Valor total de venda</th>
                    </tr>
                    <tr>
                    	<td> <%=totprod = (@sell.quantity)*(@sell.price) %> </td>
                      <td> <%= totcost = (@sell.tax.shipping) + (@sell.tax.ipi) + ( @sell.tax.icms) + (@sell.tax.costAdd )%> </td>
                      <td> <strong> <%= tot = totprod + totcost%> </strong></td>
                    </tr>
                </thead>
                <tbody>

                </tbody>	
		</table>
	</div>
      </br>
      </br>
      </br>
      </br>
      </br>
  <div class="rodape-pagina">
    <footer >
			</br>
      </br>
      </br>
	</footer>
  </div>
</body>
</html>