<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
    <%= number_to_currency(@sell.price, unit: "R$")%>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sell.quantity %>
</p>

<p>
  <strong>Datasell:</strong>
    <%= @sell.created_at.to_date.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @sell.discount %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @sell.measurement %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sell.description %>
</p>

<p>
  <strong>Nome do Cliente:</strong>
  <%= @sell.client.corporateName %>
</p>

<p>
  <strong>Nome do produto:</strong>
  <%= @sell.product.name %>
</p>

<p>
  <strong>Frete:</strong>
  <%= @sell.tax.shipping %>
</p>

<p>
  <strong>Taxa de IPI:</strong>
  <%= @sell.tax.ipi %>
</p>

<p>
  <strong>Taxa de ICMS:</strong>
  <%= @sell.tax.icms %>
</p>

<p>
  <strong>Custo adicional:</strong>
  <%= @sell.tax.costAdd %>
</p>

<p>
  <strong>Descrição do custo adicional:</strong>
  <%= @sell.tax.description %>
</p>

<%= link_to 'Edit', edit_sell_path(@sell) %> |
<%= link_to 'Back', sells_path %>